.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* note-card */
.NoteContainer {
  padding: 10px;
}
.NoteCard {
  overflow-wrap: break-word;
  float: left;
  margin: .50%;
  width: 20%;
  height: 50%;
  background: lightyellow;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.NoteCard:hover {
  -webkit-animation-name: wiggle;
  -webkit-animation-duration: 400ms;
  -webkit-animation-count: 2;
  -webkit-animation-function: ease-in-out;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.NoteImage {
  width: 30%;
}

@keyframes wiggle {
  50% {
    transform: rotate( -3deg);
  }
  70% {
    transform: rotate( 3deg);
  }
  100% {
    transform: rotate( 0deg);
  }
}

/* Footer */
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  max-width: 100%;
  margin: auto;
  background-color: #f88379;
  text-align: center;
  color: white;
}

.footer p {
  font-size: 12px;
  margin: 3px;
}
